{% extends 'base.html' %}
{% block content %}
  <h2>MESSAGE DETAIL</h2>
  <p><strong>SUBJECT:</strong> {{ message.subject }}</p>
  <p><strong>FROM:</strong> {{ message.sender.username }}</p>
  <p><strong>REGARDING ITEM:</strong> {{ message.item.title }}</p>
  <p><strong>SENT:</strong> {{ message.timestamp|date:"Y-m-d H:i" }}</p>
  <hr>
  <p>{{ message.body }}</p>
  <a href="{% url 'messages_inbox' %}" class="btn btn-warning">BACK TO INBOX</a>
  <a href="{% url 'message_reply' message.id %}" class="btn btn-warning">REPLY</a>{% endblock %}
