{% extends 'base.html' %}
{% block content %}
  <h2>SENT MESSAGES</h2>
  {% if messages %}
    <ul class="list-group">
      {% for message in messages %}
        <li class="list-group-item">
          <a href="{% url 'message_detail' message.id %}"><strong>{{ message.subject }}</strong></a>
          <br>
          To: {{ message.recipient.username }} | Regarding: {{ message.item.title }}
          <br>
          <small>{{ message.timestamp|date:"Y-m-d H:i" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have not sent any messages yet.</p>
  {% endif %}
{% endblock %}